<div class="page-container">


  <div class="page-content">


    <form [formGroup]="form" (ngSubmit)="onSubmit()">



      <div class="row mb-3">

        <mat-form-field appearance="fill" class="col">
          <mat-label>Blog標題</mat-label>
          <input matInput formControlName="title">
          <mat-error *ngIf="title.hasError('required')">
            請輸入Blog標題
          </mat-error>
        </mat-form-field>

      </div>


      <div class="row">
        <div class="col-sm-2 col-md-1">
          <label>啟用Blog</label>
        </div>

        <div class="col-sm-10 col-md-11 ">
          <mat-radio-group formControlName="status">
            <mat-radio-button [value]="1">啟用</mat-radio-button>
            <mat-radio-button [value]="2">停用</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


    </form>

    <!-- <pre>
{{form.value|json}}
  </pre> -->

  </div>



  <div class="page-footer">

    <div class="page-footer-left">
    </div>

    <div class="page-footer-right">
      <button mat-raised-button color="primary" (click)="onSubmit()">儲存</button>
    </div>

  </div>




</div>
