<div class="page-container">


  <div class="page-content">


    <form [formGroup]="form">

      <mat-form-field appearance="fill">
        <mat-label>Blog標題</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <div>
        <label>啟用Blog</label>
        <mat-radio-group formControlName="status">
          <mat-radio-button [value]="1">啟用</mat-radio-button>
          <mat-radio-button [value]="2">停用</mat-radio-button>
        </mat-radio-group>
      </div>


    </form>

    <pre>
{{form.value|json}}
  </pre>

  </div>

  <div class="page-footer">

    <div class="page-footer-left">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
    </div>

    <div class="page-footer-right">
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
    </div>

  </div>

</div>
