<div class="page-container">


  <div class="page-content">


    <div class="row mb-3">
      <div class="col">

        <app-articles-type-form (getEmitter)="get()"></app-articles-type-form>

      </div>
    </div>



    <div cdkDropList (cdkDropListDropped)="drop($event)">

      <mat-nav-list cdkDrag *ngFor="let item of typeList" class="pt-0">

        <mat-list-item>
          <div matLine>

            <span *ngIf="!item.isEdit">
              {{item.name}}
            </span>

            <mat-form-field class="w-100" *ngIf="item.isEdit">
              <input matInput type="text" [(ngModel)]="item.name">
            </mat-form-field>

          </div>


          <button mat-icon-button title="修改" *ngIf="!item.isEdit" (click)="edit(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button title="刪除" *ngIf="!item.isEdit" (click)="delete(item)">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-icon-button color="accent" title="儲存" *ngIf="item.isEdit" [appLoading]="item.isSubmit"
            [disabled]="item.isSubmit" (click)="save(item)">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button color="warn" title="取消" *ngIf="item.isEdit" (click)="cancel(item)">
            <mat-icon>clear</mat-icon>
          </button>

        </mat-list-item>

      </mat-nav-list>


    </div>

  </div>

</div>
