.mat-card-header .mat-card-title {
  margin-bottom: 20px;
  line-height: 2rem;
}

.subtitle-info {
  display: inline-block;
  margin-right: 15px;

  .subtitle-info-icon {
    margin-right: 5px;
  }
}
