<div class="page-content container">


  <!-- <div class="row">
    <div class="col">
      <h1>{{data.title}}</h1>
    </div>
  </div> -->


  <div class="row">
    <div class="col article-item">

      <mat-card class="">

        <div class="article-type-lable">
          <app-article-type-label [in_status]="item.status" [in_typeID]="item.typeID" [in_typeName]="item.typeName"
            [in_account]="targetAccount">
          </app-article-type-label>
        </div>

        <mat-card-header>
          <mat-card-title>
            <h2>
              {{item.title}}
            </h2>
          </mat-card-title>
          <mat-card-subtitle class="mb-0">
            <span class="subtitle-info">
              <i class="fas fa-user subtitle-info-icon"></i>{{item.userName}}
            </span>
            <span class="subtitle-info">
              <i class="fas fa-calendar-alt subtitle-info-icon"></i>{{item.createDate |date:'YYYY/MM/dd HH:mm'}}
            </span>

          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a *ngIf="item.isSelf===1" mat-button color="accent" [routerLink]="['/articles/new/'+item.id]">修改</a>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>

    </div>
  </div>


  <div class="row">
    <div class="col pt-3">


      <div #contentDOM>

        <!-- {{item.content}} -->
      </div>


    </div>
  </div>



</div>
