<div class="container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="app-name">main-layout</h1>

    <span class="spacer"></span>

    <button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav class="mat-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="sidebarOpened">
      <mat-nav-list>
        <app-meun [in_menuList]="menuList"></app-meun>
        <!-- <a mat-list-item routerLink=".">111</a> -->
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content select="router-outlet"></ng-content>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
