<div class="main-container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="app-name">main-layout</h1>

    <span class="spacer"></span>


    <app-login></app-login>


  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav class="mat-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="sidebarOpened">
      <mat-nav-list>
        <app-meun class="app-meun" [in_menuList]="menuList"></app-meun>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content select="router-outlet"></ng-content>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
