<div class="page-content page-index">



  <div class="row">
    <div class="article-item col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3"
      *ngFor="let item of articleList | filter : 'typeID':type ">

      <mat-card class="">

        <div class="item-type">

          <app-article-type-label [in_status]="item.status" [in_typeID]="item.typeID" [in_typeName]="item.typeName">
          </app-article-type-label>

        </div>

        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-subtitle>
            <span class="subtitle-info">
              <i class="fas fa-user subtitle-info-icon"></i>{{item.userName}}
            </span>
            <span class="subtitle-info">
              <i class="fas fa-calendar-alt subtitle-info-icon"></i>{{item.createDate |date:'YYYY/MM/dd HH:mm'}}
            </span>

          </mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
            {{item.description}}...
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="accent" [routerLink]="['/'+targetAccount+'/'+item.id]">繼續閱讀</a>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>

    </div>
  </div>


</div>
