<button mat-icon-button [matMenuTriggerFor]="menu0" class="img-btn">
  <img src="{{user.imageUrl}}">
</button>




<mat-menu #menu0="matMenu">
  <ng-container *ngFor="let item of menuList">


    <ng-container *ngIf="!item.children; else elseTemplate">
      <a mat-menu-item [routerLink]="item.url">{{item.title}}</a>
    </ng-container>
    <ng-template #elseTemplate>

      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">{{item.title}}</button>
      <app-toolbar-menu-item #menu [in_menuList]="item.children"></app-toolbar-menu-item>


    </ng-template>

  </ng-container>

  <button mat-menu-item (click)="logout()">登出</button>

</mat-menu>
